[Unit]
Description=Chrony NTP Container
Documentation=https://github.com/chris-short/chrony
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
WorkingDirectory=/home/cbshort/repo/chrony
User=cbshort
Group=cbshort

ExecStartPre=-/usr/bin/podman-compose down
ExecStartPre=/usr/bin/podman-compose pull
ExecStart=/usr/bin/podman-compose up --force-recreate
ExecStop=/usr/bin/podman-compose down

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
